@CHARSET "UTF-8";


body{
	background-color: #204a87;
}
#menu ul {
	list-style: none;
}
#menu li {
	list-style: none;
	margin-left: 10px;
}
h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 21px;
    margin-bottom: 10.5px;
    margin-left: 52px;
}
#adjst{
	color: blue;
}

p {
    margin: 0 52px 10.5px;
}